 
  
  :root {
    --text-color: #525552;
    --radial-gradient: radial-gradient(rgba(128, 243, 113, 0.4),rgba(224, 224, 224, 0.8));
    --font-family: 'Short Stack'; 
    --box-shadow: -4px -4px 10px rgba(255, 255, 255, 1),
                  inset -4px 4px 10px rgba(148, 155, 146, 0.5), 
                  inset -4px -4px 10px rgba(255, 255, 255, 1), 
                  4px 4px 10px rgba(149, 155, 148, 0.5);
  }
  
  body { 
    overflow-x: hidden;
    font-family: var(--font-family);  
    background: rgb(194, 255, 181);
  }
  
  h3{ 
    background: linear-gradient(rgb(129, 224, 82), rgb(255, 255, 255)); 
    color: transparent;
    -webkit-text-stroke: 1px #5a6e50;
    -webkit-background-clip: text; 
}
 
   
.nav_background { 
    background: linear-gradient(to bottom, transparent, #55d649); 
}
.container2 h4{   
    background: linear-gradient(rgb(113, 252, 66), rgb(255, 255, 255)); 
    color: transparent;
    -webkit-text-stroke: 1px #95ad8fb4;
    -webkit-background-clip: text; 
}
.container h4{   
    background: linear-gradient(rgb(255, 255, 255),rgb(65, 255, 65) ); 
    color: transparent;
    -webkit-text-stroke: 1px #445d4bbe;
    -webkit-background-clip: text; 
}



