 
  
  :root {
    --text-color: #85c57a;
    --radial-gradient: radial-gradient(rgba(220, 255, 204, 0.4),rgba(224, 224, 224, 0.8));
    --font-family: 'Short Stack'; 
    --box-shadow: -4px -4px 10px rgba(255, 255, 255, 1),
                  inset -4px 4px 10px rgba(189, 233, 169, 0.5), 
                  inset -4px -4px 10px rgba(255, 255, 255, 1), 
                  4px 4px 10px rgba(197, 253, 197, 0.5);
  }
  
  body { 
    overflow-x: hidden;
    font-family: var(--font-family);  
    background: rgb(220, 255, 225);
  }
   
 
  h3{ 
    background: linear-gradient(rgb(81, 243, 48), rgb(255, 255, 255)); 
    color: transparent; 
    -webkit-background-clip: text; 
}
 
   
.nav_background { 
    background: linear-gradient(to bottom, transparent, #a9f196); 
}
.container2 h4{   
    background: linear-gradient(rgb(156, 255, 136), rgb(255, 255, 255)); 
    color: transparent; 
    -webkit-background-clip: text; 
}
.container h4{   
    background: linear-gradient(rgb(255, 255, 255),rgb(107, 255, 77) ); 
    color: transparent; 
    -webkit-background-clip: text; 
}



