 
 
.nav_background {
    position: absolute;
    top: 0;
    right: 0;
    height: 90%;
    width: 90%;
    z-index: -1;
    clip-path: circle(90vh at 80% -2vh);
    background: linear-gradient(to bottom, transparent, #888888); 
}
 
.nav_hamburger_background{
    content: "";
    position: fixed;
    top: 5px;
    right: 5px;
    height: 90px;
    width: 110px;
    background: var(--radial-gradient);
    z-index: -1;
    display: none;
    transform: scale(0);
    transform-origin: right top;
    transition: transform .5s ease;
    border-radius: 62% 10% 49% 100% / 68% 47% 44% 90% ; 
}

.nav_hamburger_background.show{
  transform: scale(1);
}

.body_content_header .header_top {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;  

}

.header_text .text{
    line-height: 60px;
    min-width: 500px;  
    padding: 10px;
}

.header_text .text span{
    position: relative;
    text-transform: capitalize;
    font-size: 2rem; 
    color: var(--text-color);
}
 
.header_text .text h2 {
    color: var(--text-color); 
    font-size: 2.5rem;
}

.header_text .text h2 span{
    -webkit-text-stroke: 1px rgba(70, 75, 121, 0.644) ;
}

.header_text .btn-group .btn{
    position: relative;
    padding: 10px 20px;
    font-weight: 600; 
    border-radius: 20px;
    background: transparent ;
    margin-top: 20px;
    font-size: 17px;
    color: #646464;
    border-color: #6e6e6e;
}

.header_text .btn-group .btn:hover{
    background: var(--radial-gradient); 
}

.header_text .btn-group .btn:nth-child(2){
    background: var(--radial-gradient); 
}

.header_text .btn-group .btn:nth-child(2):hover{
    background: transparent;  
} 
 
img.nav_background_img {  
    margin-right: 10rem;
    height: 40vh; 
} 

@media (max-width: 700px){ 

    .nav_hamburger_background{
        display: block;
    } 

    .nav_background{ 
    width: 99%;
    clip-path: circle(70vh at 90% -25vh);   
    } 

    img.nav_background_img {
        display: none; 
    }

    .header_text {  
        /* padding: 1rem;  */
    }

    .header_text .text{  
        width: 100%;
    }

    .header_text .text span{  
        font-size: 1.5rem;  
    }
    
    .header_text .text h2 { 
        font-size: 2rem;
    }
    .header_text .btn-group{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    .header_text .btn-group .btn{
        width: calc(100% - 20px); 
        min-width: 200px;
    }
} 

@media (max-width: 1000px) and (min-width:700px) {

    .nav_background{   
    width: 85%;
    clip-path: circle(90vh at 135% -10%); 
    }

    img.nav_background_img {   
        margin-top: 90%;
        height: 200px; 
    } 

    .header_text .text{ 
        min-width: 380px; 
        margin-left: 20%;
        margin-top: -50%;
    }

    .header_text .btn-group{ 
        margin-left: 20%;
    }

    .header_text .text span{  
        font-size: 1.8rem;  
    }
    
    .header_text .text h2 { 
        font-size: 2.2rem;
    }

  }

@media (max-width: 1300px) and (min-width:1000px) {

    .nav_background{    
    width: 99vw;
    clip-path: circle(90vh at 85% -5%); 
    }

    img.nav_background_img {  
        margin-right: 5rem;
        height: 250px; 
    }
 }
 