 
 
.nav_background {
    position: absolute;
    top: 0;
    right: 0;
    height: 90%;
    width: 90%;
    z-index: -1; 
    clip-path: circle(90vh at 80% -2vh);
    background: linear-gradient(to bottom, transparent, #888888); 
}
 
.nav_hamburger_background{ 
    position: fixed;
    top: 5px;
    right: 5px;
    height: 90px;
    width: 110 px;
    background: var(--radial-gradient);
    z-index: -2;
    display: none;
    transform: scale(0);
    transform-origin: right top;
    transition: transform .5s ease;
    border-radius: 62% 10% 49% 100% / 68% 47% 44% 90% ; 
}

.nav_hamburger_background.show{
  transform: scale(1);
}

.body_content_header .header_top {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}
 
img.nav_background_img {  
    margin-right: 9rem;
    margin-top: 9rem;
    height: 350px; 
    z-index: -3;
}  

.contact-form { 
    position: relative; 
    width: 100%; 
    margin: 5%;
    max-width: 500px;
    min-width: 400px; 
    border-radius: 29% 27% 26% 31% / 26% 6% 24% 8%  ;
    padding: 3rem 0rem;
    background: radial-gradient(transparent 70%,rgba(206, 206, 206, 0.568));
} 

.contact-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.contact-form form h2{
    color: #282b5a;
    font-size: 30px;  
    padding: 2rem 0px;
    -webkit-text-stroke: 1px #2b2e5a;
}

.contact-form form .input-feild{
    position: relative;
    padding: 5px 10px; 
}

.contact-form form .input-feild input,.contact-form form .input-feild textarea {
    width: 300px;
    height: 40px;
    font-size: 17px;
    color: #3f404b;
    font-weight: 400; 
    text-indent: 12px;
    outline: none;
    border: 2px solid #68696d;
    border-radius: 10px;
    background: transparent;
}

.contact-form form .input-feild input::placeholder,.contact-form form .input-feild textarea::placeholder{
    color: #676a92;
    font-weight: 500;
}

.contact-form form .input-feild textarea{ 
    max-width: 300px;
    min-width: 300px;
    max-height: 100px;
    min-height: 100px;
    background: transparent;
}

.contact-form form input[type="submit"]{
    display: block;
    text-transform: uppercase;
    height: 40px;
    margin: 10px auto;
    width: 150px;
    border-radius: 30px;
    background: transparent;
    border: 2px solid #5d5d5d; 
}

.contact-form form input[type="submit"]:hover{ 
    box-shadow: var(--box-shadow);
    border: 2px solid #282b5a; 
}

@media (max-width: 700px){  
    .nav_hamburger_background{
        display: block;
    }  
    .nav_background{ 
    width: 99%;
    clip-path: circle(70vh at 90% -25vh);   
    }  
    img.nav_background_img {
        display: none; 
    }
}

@media (max-width: 1000px) and (min-width:700px) { 
    .nav_background{   
    width: 85%;
    clip-path: circle(90vh at 135% -10%); 
    } 
    img.nav_background_img {   
        margin-top: 80%;
        height: 200px; 
    }  
  }

@media (max-width: 1300px) and (min-width:1000px) {

    .nav_background{    
    width: 99vw;
    clip-path: circle(90vh at 85% -5%); 
    }

    img.nav_background_img {  
        margin-right: 5rem;
        height: 250px; 
    }
 }
 








 